NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/v1
NEXT_PUBLIC_COGNITO_REGION=ap-northeast-2
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=
NEXT_PUBLIC_COGNITO_HOSTED_UI_DOMAIN=
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/auth/callback
